image {
  height: 400px;
  width: auto;
}

h1 {
  color: #fdc200f6;
  font-size: 8em;
  font-family: "Skranji";
  font-weight: 50;
}
div {
  font-family: "Special Elite", cursive;
}

.Mitchell {
  color: #e7b202f6;
  font-size: 40px;
}

.sandwich {
  height: 50px;
  width: auto;
}

.pb {
  color: #d4a302f6;
  font-size: 30px;
}

.jen {
  font-size: 20px;
  color: #a78104f6;
}
