h1 {
  color: gold;
  font-size: 100px;
  font-family: fantasy;
}

#picture1 {
  height: 500px;
  width: auto;
}

#bread {
  color: rgb(255, 238, 0);
}
#bacon {
  color: rgb(240, 138, 155);
}
#brie {
  color: #ffffffea;
}
#cranberry {
  color: rgb(233, 73, 100);
}

.bread {
  color: rgb(255, 238, 0);
}

#end {
  font-family: fantasy;
  font-size: 30px;
}
